md-list-item {
  margin: 8px auto;
  border-bottom: 1px solid $md-grey-200;

  .md-avatar-56 {
    border-radius: 2px;
    width: 56px;
    height: 56px;
  }

  .item-rank {
    width: 32px;
    max-width: 32px;
  }

  .item-right {
    text-align: right;
  }

  .secondary {
    @extend p;
  }
}
