md-list-item {
  margin: 8px auto;
  border-bottom: 1px solid $md-grey-200;

  .md-avatar-56 {
    border-radius: 2px;
    width: 56px;
    height: 56px;
  }
}

md-tab-content {
  padding-top: 16px;
  padding-bottom: 16px;
}

.item-right {
  text-align: right;
}
