<md-list-item class="md-2-line" ng-repeat="item in $ctrl.recentTracks">
  <a href="{{ item.url }}" target="_blank">
    <img ng-if="item.image[1]['#text']" ng-src="{{ item.image[1]['#text'] }}" class="md-avatar md-avatar-56" alt="{{ item.name }}" />
    <img ng-if="!item.image[1]['#text']" ng-src="{{ $ctrl.placeholderTrack }}" class="md-avatar md-avatar-56" alt="{{ item.name }}" />
  </a>

  <div class="md-list-item-text">
    <a href="{{ item.url }}" target="_blank">
      <span>
        {{ item.artist['#text'] }} - {{ item.name }}
      </span>
    </a>
    <p ng-if="item.date['#text']">{{ item.date['#text'] }}</p>
    <p ng-if="!item.date['#text']">
      <img ng-src="{{ $ctrl.placeholderNow }}" alt="Playing now" />
      <span>Playing now</span>
    </p>
  </div>

  <!-- <div class="md-list-item-text item-right text-right">
    <p>{{ item.date['#text'] }}</p>
  </div> -->
</md-list-item>
