<md-list-item class="md-2-line" ng-repeat="item in $ctrl.recentTracks">
  <a href="{{ item.url }}" target="_blank">
    <img ng-if="item.image[1]['#text']" ng-src="{{ item.image[1]['#text'] | trustAsResourceUrl }}" class="md-avatar md-avatar-56" alt="{{ item.name }}" />
    <img ng-if="!item.image[1]['#text']" ng-src="{{ $ctrl.placeholderTrack | trustAsResourceUrl }}" class="md-avatar md-avatar-56" alt="{{ item.name }}" />
  </a>

  <div class="md-list-item-text">
    <a href="{{ item.artist.url }}" target="_blank"><span>{{ item.artist.name }}</span></a>
    <span>&nbsp;&mdash;&nbsp;</span>
    <a href="{{ item.url }}" target="_blank"><span>{{ item.name }}</span></a>

    <p ng-if="item.date['#text']">{{ (item.date.uts * 1000) | date:'MMM d, y - h:mm:ss a' }}</p>
    <p ng-if="item['@attr'].nowplaying">
      <img ng-src="{{ $ctrl.placeholderNow }}" alt="Playing Now"/>
      <span>Scrobbling Now</span>
    </p>
  </div>

  <div flex="10" hide-xs class="md-list-item-text item-right">
    <md-icon ng-if="item.loved == 1" class="material-icons md-accent">favorite</md-icon>
    <md-icon ng-if="item.loved == 0" class="material-icons">favorite_border</md-icon>
  </div>
</md-list-item>
