<md-list-item class="md-2-line" ng-repeat="item in $ctrl.albums">
  <div flex="10" class="md-list-item-text">
    <span class="md-subhead">{{ item["@attr"].rank }}</span>
  </div>

  <a href="{{ item.url }}" target="_blank">
    <img ng-if="item.image[1]['#text']" ng-src="{{ item.image[1]['#text'] | trustAsResourceUrl }}" class="md-avatar md-avatar-56" alt="{{ item.name }}" />
    <img ng-if="!item.image[1]['#text']" ng-src="{{ $ctrl.placeholderAlbum | trustAsResourceUrl }}" class="md-avatar md-avatar-56" alt="{{ item.name }}" />
  </a>

  <div class="md-list-item-text">
    <a href="{{ item.url }}" target="_blank">
      <div>{{ item.name }}</div>
    </a>
    <a href="{{ item.artist.url }}" class="secondary" target="_blank">
      <div>{{ item.artist.name }}</div>
    </a>
  </div>

  <div flex="20" hide-xs class="md-list-item-text item-right">
    <p>{{ item.playcount | number:0 }} scrobbles</p>
    <p>{{ (item.playcount / $ctrl.totalPlaycount) * 100 | number:2 }}% of total</p>
  </div>
</md-list-item>
