<md-list-item class="md-2-line" ng-repeat="item in $ctrl.artists">
  <div flex="5" class="md-list-item-text">
    <span class="md-subhead">{{ item["@attr"].rank }}</span>
  </div>

  <a href="{{ item.url }}" target="_blank">
    <img ng-if="item.image[1]['#text']" ng-src="{{ item.image[1]['#text'] }}" class="md-avatar md-avatar-56" alt="{{ item.name }}" />
    <img ng-if="!item.image[1]['#text']" ng-src="{{ $ctrl.placeholderArtist }}" class="md-avatar md-avatar-56" alt="{{ item.name }}" />
  </a>

  <div class="md-list-item-text">
    <a href="{{ item.url }}" target="_blank">
      <span>{{ item.name }}</span>
    </a>
    <p>{{ item.playcount | number:0 }} scrobbles</p>
  </div>

  <div flex="20" hide-xs class="md-list-item-text text-right">
    <!-- <p>#{{ item['@attr'].rank }}</p> -->
    <p>{{ (item.playcount / $ctrl.totalPlaycount) * 100 | number:2 }}% of total</p>
  </div>
</md-list-item>
