footer {
  padding-top: 72px;
  padding-bottom: 48px;
  text-align: center;

  p {
    margin-top: 8px;
    margin-bottom: 4px;
  }

  .logo {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
}
