.header {
  padding-top: 48px;
  margin-bottom: 48px;
  background-image: url("/assets/images/bg-header.jpg");
  background-size: cover;
  background-position: center center;
  background-color: $md-blue-grey-50;
  background-blend-mode: multiply;
  text-align: center;

  &-logo {
    width: auto;
    height: 120px;
  }

  &-headline {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

.btn-search {
  padding: 8px 40px;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 700;
  transform: translateY(32px);
}

md-input-container {
  text-align: left;
}

md-option {
  &:hover {
    background-color: $md-blue-grey-50;
  }

  &:focus {
    background-color: $md-red-900;
    font-weight: 700;
    color: $md-white !important;
  }
}
