<header class="header" md-whiteframe="1">

  <md-progress-linear ng-show="headerVm.isLoading" class="md-accent" md-mode="indeterminate"></md-progress-linear>

  <div class="wrapper">
    <img ng-src="{{ headerVm.logo | trustAsResourceUrl }}" class="header-logo" alt="Museek's logo" />
    <h1 class="md-headline header-headline">{{ headerVm.headline }}</h1>

    <form ng-submit="headerVm.searchUser()" name="userForm">
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm="50">
          <label>Username</label>
          <input type="text" autofocus name="username" ng-model="headerVm.user" required placeholder="e.g. vandrelc or dungahk">
          <!-- <div ng-messages="userForm.username.$error" role="alert">
            <div ng-message="required">This field is required.</div>
          </div> -->
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm="20">
          <label>Limit</label>
          <input type="number" name="limit" string-to-number ng-model="headerVm.limit" placeholder="Default: 10" max="100" maxlength="3">
          <!-- <div ng-messages="userForm.limit.$error" role="alert">
            <div ng-message="max">Maximum Limit: 100.</div>
          </div> -->
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm="30">
          <label>Period</label>
          <md-select ng-model="headerVm.period">
            <md-option ng-repeat="period in headerVm.periods" value="{{ period.parameter }}">
              {{ period.label }}
            </md-option>
          </md-select>
        </md-input-container>
      </div>

      <md-button type="submit" class="md-raised md-accent btn-search">
        <md-icon class="material-icons md-24">search</md-icon>
        <span>Search</span>
      </md-button>
    </form>
  </div>
</header>
