.header {
  padding-top: 48px;
  background-image: url("/assets/images/bg-header.jpg");
  background-size: cover;
  background-position: center center;
  background-color: $md-blue-grey-50;
  background-blend-mode: multiply;
  text-align: center;

  &-logo {
    width: auto;
    height: 96px;
  }

  &-headline {
    margin-top: 48px;
    margin-bottom: 32px;
  }
}

.btn-search {
  padding: 8px 40px;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 700;
  transform: translateY(32px);
  z-index: 1;
}

md-input-container {
  text-align: left;
  margin-right: 4px;
  margin-left: 4px;
  font-size: 18px;
}

md-option {
  &:hover {
    background-color: $md-blue-grey-50;
  }

  &:focus {
    background-color: $md-red-900;
    color: $md-white !important;
    font-weight: 700;
  }
}

md-progress-linear {
  position: fixed;
  top: 0;
  height: 4px;
}
