.header {
  padding-top: 32px;
  margin-bottom: 32px;
  background-image: url("/assets/images/default_header-edited.jpeg");
  background-color: $md-blue-grey-50;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center;
  text-align: center;

  &-logo {
    width: auto;
    height: 120px;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  &-description {
    margin-top: 16px;
    margin-bottom: 48px;
  }
}

.btn-search {
  padding: 8px 40px;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 700;
  transform: translateY(32px);
}

md-select {
  text-align: left;
}
