<md-content>
  <section>
    <h1>Museek</h1>
    <p>
      Cool headline here.
    </p>
    <md-input-container md-no-float class="md-block">
      <input ng-model="user" placeholder="Username">
      <md-button class="md-raised md-primary" ng-click="setUser()">GET</md-button>
    </md-input-container>
  </section>

  <core-navbar md-whiteframe="1"></core-navbar>

  <div>

      <md-list-item class="md-2-line" ng-repeat="item in userTop.topartists.artist">
      <img ng-src="{{ item.image[0].['#text'] }}" class="md-avatar" alt="{{ item.images }}" />
        <div class="md-list-item-text">
          <h3>{{ item.name }}</h3>
          <p>{{ item.playcount }}</p>
        </div>
      </md-list-item>

  </div>
</md-content>
