<md-content flex layout-fill>
  <core-header></core-header>

  <section class="page-content">

    <div class="wrapper" ng-show="mainVm.data.user" ng-cloak>
      <div class="text-center">
        <a href="{{ mainVm.data.user.url }}" target="_blank">
          <img ng-if="mainVm.data.user.image[2]['#text']" ng-src="{{ mainVm.data.user.image[2]['#text'] }}" class="profile" alt="{{ mainVm.data.user.name }}" />
          <img ng-if="!mainVm.data.user.image[2]['#text']" ng-src="{{ mainVm.placeholder }}" class="profile" alt="{{ mainVm.data.user.name }}" />
        </a>

        <a href="{{ mainVm.data.user.url }}" target="_blank">
          <h1> {{ mainVm.data.user.realname }} </h1>
        </a>

        <!-- <div class="description">
          <p>{{ mainVm.data.user.name }}</p>
          <p>{{ mainVm.data.user.playcount | number:0 }} scrobbles</p>
        </div> -->
      </div>

      <core-tabs></core-tabs>
    </div>

    <div class="wrapper" ng-show="mainVm.data.error" ng-cloak>
      <div class="message text-center">
        <h1>Error: #{{ mainVm.data.error }}</h1>
        <p class="md-subhead">{{ mainVm.data.message}}. Please try again with a different username.<p>
      </div>
    </div>
  </section>

  <core-footer></core-footer>
</md-content>
