/**
 *  Do not remove the comment below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,500,700|Roboto:400,500,700,700italic,400italic);
@import '../../bower_components/material-colors/dist/colors.scss';

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

html {
  font-family: 'Roboto Slab', serif;
}

p {
  color: $md-grey-700;
}

.browsehappy {
  margin: 0.2em 0;
  background: $md-grey-300;
  color: $md-grey-900;
  padding: 0.2em 0;
}

.wrapper {
  padding-left: 16px;
  padding-right: 16px;
  max-width: 600px;
  margin: 0 auto;
}

.remove {
  &-margin { margin: 0; }
  &-padding { padding: 0; }
}

.text {
  &-left   { text-align: left; }
  &-center { text-align: center; }
  &-right  { text-align: right; }
}

.page-content {
  margin-top: 72px;
  margin-bottom: 36px;

  .message {
    padding: 16px;
    background-color: $md-red-50;
    border-radius: 3px;
    color: $md-red-900;
  }
}

.profile {
  max-height: 120px;
  border-radius: 50%;
}

/**
 *  Do not remove the comment below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
