<md-tabs
  md-no-ink
  md-stretch-tabs="auto"
  md-center-tabs="true"
  md-border-bottom="true"
  md-dynamic-height="true"
  md-selected="selectedIndex">

  <md-tab label="Top Artists">
    <md-content>
        <top-artists></top-artists>
      </md-content>
  </md-tab>

  <md-tab label="Top Albums">
    <md-content>
        <top-albums></top-albums>
      </md-content>
  </md-tab>

  <md-tab label="Top Tracks">
    <md-content>
        <top-tracks></top-tracks>
      </md-content>
  </md-tab>

  <md-tab label="Recent Tracks">
    <md-content>
        <recent-tracks></recent-tracks>
      </md-content>
  </md-tab>
</md-tabs>
